<div class="row justify-content-center mt-5">
  <div class="col-md-0 mw-100">

    <form *ngIf="mode === 'INSERT'" [formGroup]="playerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Number</label>
        <input class="form-control" type="text" formControlName="No" required>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" formControlName="Name" required>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input class="form-control" type="text" formControlName="Age" required>
      </div>
      <div class="form-group">
        <label>Position</label>
        <input class="form-control" type="text" formControlName="Pos" required>
      </div>
      <div class="input-group">
        <span><label>Games Played</label></span>
        <input class="form-control" type="text" formControlName="GamesPlayed" required>
        <label>Games Started</label>
        <input class="form-control" type="text" formControlName="GamesStarted" required>
      </div>
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control" type="text" formControlName="Wt" required>
      </div>
      <div class="form-group" formGroupName="College">
        <label>College</label>
        <input class="form-control" type="text" formControlName="Univ" required>
      </div>
      <div class="form-group">
        <label>Birthday</label>
        <input class="form-control" type="text" formControlName="BirthDate" required>
      </div>
      <div class="form-group">
        <label>Years in the NFL</label>
        <input class="form-control" type="text" formControlName="YrsinNFL" required>
      </div>
      <div class="form-group">
        <label>Salary</label>
        <input class="form-control" type="text" formControlName="Salary" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Add Player to Roster</button>
      </div>
    </form>

    <form *ngIf="mode === 'UPDATE'" [formGroup]="playerForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label>Number</label>
        <input class="form-control" type="text" formControlName="No" required readonly>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" formControlName="Name" required readonly>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input class="form-control" type="text" formControlName="Age" required readonly>
      </div>
      <div class="form-group">
        <label>Position</label>
        <input class="form-control" type="text" formControlName="Pos" required readonly>
      </div>
      <div class="input-group">
        <span><label>Games Played</label></span>
        <input class="form-control" type="text" formControlName="GamesPlayed" required>
        <label>Games Started</label>
        <input class="form-control" type="text" formControlName="GamesStarted" required>
      </div>
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control" type="text" formControlName="Wt" required readonly>
      </div>
      <div class="form-group" formGroupName="College">
        <label>College</label>
        <input class="form-control" type="text" formControlName="Univ" required readonly>
      </div>
      <div class="form-group">
        <label>Birthday</label>
        <input class="form-control" type="text" formControlName="BirthDate" required readonly>
      </div>
      <div class="form-group">
        <label>Years in the NFL</label>
        <input class="form-control" type="text" formControlName="YrsinNFL" required readonly>
      </div>
      <div class="form-group">
        <label>Salary</label>
        <input class="form-control" type="text" formControlName="Salary" required readonly>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Update Player</button>
      </div>
    </form>

  </div>
</div>